@model LoginViewModel



<div class="row">
    <div class="col-4 offset-3">
        <h1> Oturum Açma</h1>
        <div asp-validation-summary="ModelOnly" class="text-danger small"></div>
        <form method="post">
            <div class="formcontainer">
                <div class="container">
            <div class="form-group mb-3">
                <label asp-for="Email" class="form-label">Mail adresi</label>
                <input asp-for="Email" type="email" class="form-control" placeholder="örnekMail@gmail.com" />
                <span asp-validation-for="Email" class="text-danger small"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Password" class="form-label">Şifre</label>
                <input asp-for="Password" type="password" class="form-control" placeholder="Ş1fRe" />
                <span asp-validation-for="Password" class="text-danger small"></span>
            </div>
            </div>

            <div class="form-group">
                    <button type="submit" ><i class="fa-sharp fa-solid fa-right-to-bracket me-2"></i>Oturum Aç</button>
            </div>
            <div class="text-success">  @ViewBag.message </div>
            </div>
        </form>

    </div>
</div>
<link href="~/css/form.css" rel="stylesheet" />