@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="dropdown">
    <a class="btn btn-primary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Kullanıcı Tipleri
    </a>
    <ul class="dropdown-menu ">
        <li><a id="sellerlink" class="dropdown-item" asp-action="SellerListPartial" data-ajax="true" data-ajax-method="get" data-ajax-update="#panel" class="btn btn-primary btn-sm">Satıcı</a></li>
        <li><a class="dropdown-item" asp-action="CustomerListPartial" data-ajax="true" data-ajax-method="get" data-ajax-update="#panel" class="btn btn-primary btn-sm">Alıcı</a></li>
    </ul>

</div>


<div class="row mb-3">
    <div class="col">
        <div id="panel" >

           
        </div>
    </div>
</div>

@section Scripts{
 <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script>
          $(function(){
                sellerlink.click();
          });
      </script>
}
